<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
-->

<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    
</head>
<header style="padding-bottom: 76px;">
        <% include ./partials/header %>
</header> 
<slideshow>

    <% include ./partials/slideshow %>
</slideshow>
<body class="container" style="color: rgb(0, 183, 255);">

      

    <main>
        <div class="jumbotron">
        	<p>Upload your code!</p>
        	<a href="/upload">
        	<button type="button" class="btn btn-success" id="upload">
        	Upload</button>
        	</a>
        	<!--<script type="text/javascript">
        		$('#upload').click(function(){
        			$.post('/upload');
        		});
        	</script>
            -->
        </div>
    </main>

   <!-- <h2>Loop</h2>
	<ul>
    	<% drinks.forEach(function(drink) { %>
        	<li><%= drink.name %> - <%= drink.drunkness %></li>
    	<% }); %>
	</ul>-->
